    <link rel="stylesheet" href="/ferreteria/CSS/bootstrap.css">
    <script src="/ferreteria/JS/jquery-3.7.1.js"></script>
    <script src="/ferreteria/JS/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="icon" href="/ferreteria/components/favicon.ico" type="image/x-icon">

    <style>
        body{
            font-family: Epilogue;
        }
    </style>

    <link rel="stylesheet" href="/ferreteria/CSS/bootstrap-purple.css">